.cor-background-principal {
    background-color: #060606;
    height: 100%;
    width: 100%;
}

.fonte-padrao {
    font-family: 'Gotham HTF';
    font-size: 80px;
}

.fonte-2 {
    font-family: 'Gotham HTF';
    font-size: 40px;
}

.fonte-3 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #454C4F;
    font-family: 'Gotham HTF';
    font-size: 60px;
}

.italico {
    font-style: italic;
}

.cor-branca {
    color: white;
}

.cor-fiap {
    color: #F80D5A;
    font-family: 'Gotham HTF';
    font-size: 30px;
}

.fonte-padrao3 {
    font-family: 'Gotham HTF';
    font-size: 50px;
}

.fonte-padrao4 {
    font-family: 'Gotham HTF';
    font-size: 13px;
}

a:hover {
    cursor: pointer;
}

.linha {
    background-color: #8A959B;
    height: 1px;
    width: 1000px;
    border: none;
    position: relative;
    right: 100px;
}
.position7{
    position: relative;
    top: -10%;
}

.cor-cinza {
    color: #8A959B;
}

.cor-transparente {
    color: transparent;
}

.cor-cinza {
    color: #4c4b4c;
}

.position-fonte-tecnologia {
    position: relative;
    bottom: 100px;
}

.fonte-padrao-sobreposto {
    font-family: 'Gotham HTF';
    font-size: 200px;
    font-weight: bold;
    position: relative;
    bottom: 430px;
    opacity: 0.125;
}
.position13{
    position: relative;
    left:50px;
    bottom: 100px;
}
.position12{
    position: relative;
    left: 80px;
}

#efeito-texto {
    opacity: 0;
    /* Começa invisível */
    transition: opacity 1s ease;
    /* Define a animação de opacidade */
}
.centro2{
    position: relative;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.position16{
    position: relative;
    top: -230px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.position20{
    position: relative;
    left: 600px;
    top: 50px;
}
ul {
    list-style-type: none;
  }
.hover-fiap:hover{
    color:#F80D5A;
    cursor: pointer;
}
#centro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    top: 0px;
}

.posicao-texto {
    position: relative;
    top: 120px;
}

.position-texto-direta {
    position: relative;
    left: 50px;
    ;
}

.index-tras {
    z-index: 2;
    position: relative;
}

.index-frente {
    z-index: 1;
    position: relative;
}

.position-tec {
    position: relative;
    top: -50px;
}

.borda-agua {
    color: red;
    height: 5px;
    width: 100%;
}

/*essa é a parte da animacao usando keyframes*/
.opacidade {
    opacity: 1;
}

.titulos {
    position: relative;
    right: -800px;
    top: 700px;


}
.position9{
    position: relative;
    top: -500px;
}

.titulos-item {
    margin-top: 100px;
}

@keyframes animacao {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animacao {
    animation: animacao 5s;
}

@keyframes animacao2 {
    0% {
        opacity: 0;
        position: relative;
        top: -20px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

.animacao15 {
    animation: animacao15 15s;
}

@keyframes animacao15 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.efeito-imagem2{
    animation: animacao10 20s;
}

@keyframes animacao10 {
    0% {
        opacity: 0;
        position: relative;
    }

    100% {
        opacity: 1;
    }
}

.efeitohover:hover{
    border: 5px solid #F80D5A;
    border-radius: 100%;
    animation-duration: 2s;
    cursor: pointer;
}



.animacao2 {
    animation: animacao2 1s;
}

hr {
    border: 1px solid #ccc;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.centro-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-tecnologia {
    display: block;
}

.span-inovacao {
    display: none;
}

.span-negocios {
    display: none;
}

.animation-container {
    overflow: hidden; 
    width: 100%; 
  }
  
  .marquee-text {
    display: flex; 
    animation: marquee 10s linear infinite; 
    white-space: nowrap; 
  }
  
  .marquee-text p {
    margin-right: 10px; 
  }

  .marquee-text2 {
    display: flex; 
    animation: marquee2 10s linear infinite; 
    white-space: nowrap; 
  }
  
  .marquee-text2 p {
    margin-right: 10px; 
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(0); 
    }
  }

  .efeito-imagem{
    animation: efeitoimagem 5s linear; 
  }

  @keyframes efeitoimagem {
    0% {
      opacity: 0;
    }
    100% {
      transform: 1;
    }
  }

  .animation-container2 {
    overflow: hidden;
    height: 300px;
  }
  
  .marquee-text3 {
    display: flex;
    flex-direction: column; 
    transform: translateY(0); 
    transition: transform 0.5s ease; 
  }
  
  .marquee-text3 p {
    margin-bottom: 10px; /* Space between paragraphs */
  }
  .position3{
    position: relative;
    top: -350px;
  }
  .position4{
    position: relative;
    top: 250px;
  }
.container3{
    margin: 50px;
   

}


.position6{
    position: relative;
    top: -500px;
}

.animacao4 {
    animation: animacao4 1.5s;
}

@keyframes animacao4 {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        top: 0px;
        transform: scale(1);
    }
}