.cor-background{
    background-color: #4c4b4c;
    height: 10vh;
    width: 100%;
}
.logo{
    display: flex;
}
.logo-centro{
    position: absolute;
    top: 4%;
    left: 50%;
}

.navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: red; 
    padding: 10px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    z-index: 1;
  }

  .efeito-logo {
    display: flex; 
    animation: efeito 4s linear; 
    white-space: nowrap; 
  }
  

  
  @keyframes efeito {
    0% {
      transform: translateY(-20px);
      opacity: 0; 
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }